[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
djoser = "*"
django-debug-toolbar = "*"
djangorestframework-simplejwt = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.11"
